In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Spacex.csv to Spacex.csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['Spacex.csv']))

In [ ]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing _Outcome'],
      dtype='object')

In [ ]:
df.rename(columns = {'Landing _Outcome':'Landing_Outcome'}, inplace = True)

In [ ]:
pip install -U pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.25)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.8.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.6.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=8fab7756f041bed417dabd25a2c6fbe8b98d7d678009d2b35a47d8b933275c3f
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
from pandasql import sqldf

In [ ]:
output = sqldf("select * from df WHERE Launch_Site LIKE 'KSC%'")
output.head(5)

         Date Time (UTC)  ... Mission_Outcome      Landing _Outcome
0  2010-07-03   14:39:00  ...         Success  Success (ground pad)
1  2010-07-04   06:00:00  ...         Success            No attempt
2  2010-07-05   22:27:00  ...         Success  Success (drone ship)
3  2010-07-06   11:15:00  ...         Success  Success (ground pad)
4  2010-07-07   23:21:00  ...         Success            No attempt

[5 rows x 10 columns]

In [ ]:
output2=sqldf("select AVG(PAYLOAD_MASS__KG_), from df where Booster_Version = 'F9 v1.1'")
output2

   AVG(PAYLOAD_MASS__KG_)
0                  2928.4

In [ ]:
output3= sqldf("select SUM(PAYLOAD_MASS__KG_) TotalPayloadMass from df where Customer = 'NASA (CRS)'")
output3

   TotalPayloadMass
0             45596

In [ ]:
output4 = sqldf("select MIN(Date) from df where Landing_Outcome  = 'Success (drone ship)'")
output4

    MIN(Date)
0  2010-06-26

In [ ]:
output5 = sqldf("select Booster_Version from df where Landing_Outcome = 'Success (ground pad)' AND Payload_MASS__KG_ > 4000 AND Payload_MASS__KG_ < 6000")
output5

  Booster_Version
0   F9 FT B1032.1
1   F9 B4 B1040.1
2   F9 B4 B1043.1

In [ ]:
output6 = sqldf("SELECT(SELECT Count(Mission_Outcome) from df where Mission_Outcome LIKE '%Success%') as Successful_Mission_Outcomes,(SELECT Count(Mission_Outcome) from df where Mission_Outcome LIKE '%Failure%') as Failure_Mission_Outcomes")
output6

   Successful_Mission_Outcomes  Failure_Mission_Outcomes
0                          100                         1

In [ ]:
output7 = sqldf("SELECT DISTINCT Booster_Version, MAX(PAYLOAD_MASS__KG_) AS [Maximum Payload Mass] FROM df GROUP BY Booster_Version ORDER BY [Maximum Payload Mass] DESC")
output7

   Booster_Version  Maximum Payload Mass
0    F9 B5 B1048.4                 15600
1    F9 B5 B1048.5                 15600
2    F9 B5 B1049.4                 15600
3    F9 B5 B1049.5                 15600
4   F9 B5 B1049.7                  15600
..             ...                   ...
92  F9 v1.1  B1003                   500
93   F9 FT B1038.1                   475
94   F9 B4 B1045.1                   362
95  F9 v1.0  B0003                     0
96  F9 v1.0  B0004                     0

[97 rows x 2 columns]

In [ ]:
output8 = sqldf("SELECT   DateName( month , DateAdd( month , MONTH(CONVERT(date,Date, 105)) , 0 ) - 1 )  as Month, Booster_Version, Launch_Site, Landing_Outcome FROM df WHERE  (Landing_Outcome LIKE '%Success%') AND YEAR(CONVERT(date,Date, 105)) = '2017'")
output8

PandaSQLException: ignored

In [ ]:
output9 = sqldf("SELECT COUNT(Landing_Outcome)  FROM df WHERE (Landing_Outcome LIKE '%Success%') AND (Date >'04-06-2010') AND (Date < '20-03-2017')")
output9

   COUNT(Landing_Outcome)
0                       0